<div class="jumbotron mt-4">
<h1  class="display-4">EASY NOTES</h1>
<p class="lead">Aplicación creada con node.js  </p>
<hr class="my-4">
<p>Un simple crud con autenticación de usuarios que permite la gestión de notas personales </p>
<a href="https://github.com/borjaDB/Aplicacion-de-notas" class="btn btn-primary btn-lg">GITHUB</a>
</div>