<blockquote class="blockquote text-center">
  <p class="mb-0">Easy notes fue creada por borjadb.</p>
  <footer class="blockquote-footer">Sígueme en <cite title="Source Title"><a href="https://borjadb.github.io">GitHub</a></cite></footer>
</blockquote>