<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Este es mi proyecto de fin de curso: se trata de una aplicación en node.js con base de datos Mongo en un cloud y deplegada en un entorno de producción con Heroku" />
        <meta name="author" content="Borja Blanco Rey" />
        <meta property="og:image" content="https://borjadb.github.io/assets/img/portfolio/easy.png" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Notes App</title>
	<!-- BOOTSTRAP 4 -->
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

	<!-- 	FONT AWESOME-->
	<link rel="stylesheet" href="/css/all.css">
	<!-- 	CUSTOM CSS-->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="shorcut icon" type="image/x-icon" href="/img/logo.ico">

</head>	
<body>

		{{>navigation}}
		<main class="container p-4">
		{{> messages}}
		{{> errors}}
		{{{body}}}
		</main>
		{{>footer}}

	<!--Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>