<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card mt-4 text-center">
			<div class="card-header">
				<h1>Ingresar</h1>
			</div>
			<img src="/img/easy.png" class="rounded-circle mx-auto d-block m-4 logo"  alt="FapCod">
			<div class="card-body">
				<form action="/users/signin" method="POST">
					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="Email/Correo"  autofocus>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Contraseña">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Ingresar</button>
					</div>
				</form>
			</div>	
		</div>
	</div>
</div>				